@charset "UTF-8";

main {
    height: 70vh;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-3);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px 0px #000000AA;
}

h1 {
    position: absolute;
    font-weight: 400;
    font-size: 2.5rem;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup {
    top: 10%;
}

.form-wrapper {
    position: absolute;
    width: 55rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

form {
    width: 40%;
}

form > div {
    margin: 1rem 0rem;
}

input {
    width: 100%;
    margin-top: 0.5rem;
}

.pw-cache {
    display: flex;
    align-items: center;
}

#pw-cache, #age, #tos, #news-letters {
    width: 1rem;
}

form a {
    color: var(--high-6);
}

form a:hover {
    color: var(--high-5);
    text-decoration: underline;
}
