@charset "UTF-8";

.game-information {
    max-width: 100%;
    height: 100vh;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}

.game-about {
    background-color: var(--bg-1);
    flex-grow: 1;
    margin: 0.5rem;
    max-width: 49%;
    overflow-y: scroll;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px 1px #000000AA;
}

.game-about > h3 {
    font-weight: 600;
    color: var(--pr-3);
}

.game-about > * {
    margin: 1rem 2rem;
}

.game-about > *:first-child {
    margin-top: 2rem;
}

.game-about > *:last-child {
    margin-bottom: 2rem;
}

.game-specifications {
    flex-grow: 1;
    max-width: 50%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.game-specifications > * {
    background-color: var(--bg-1);
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px 1px #000000AA;
}

.versions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.versions a {
    color: var(--high-6);
}

.versions a:hover {
    color: var(--high-5);
    text-decoration: underline;
}

.versions table {
    width: 90%;
    margin-top: 1rem;
    text-align: center;
}

.ver1 {
    width: 50%;
}

.ver2, .ver3 {
    width: 25%;
}

.versions th {
    border-bottom: 2px solid var(--pr-4);
    height: 2rem;
}

.versions td {
    height: 2.5rem;
}

.locale-wrapper {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.locale-wrapper > * {
    min-width: 40%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.regions {
    flex-direction: column;
}

.regions h3 {
    color: #CC5555;
}

.locale-wrapper table {
    width: 90%;
    height: 100%;
    font-size: 0.9rem;
}

.languages th {
    border-bottom: 2px solid var(--pr-4);
    height: 2rem;
}

.r1 {
    width: 40%;
}

.r2, .r3, .r4 {
    width: 20%;
}

.languages td {
    text-align: center;
}

.specs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specs-wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.specs-wrapper table {
    width: 50%;
    font-size: 0.8rem;
}

.specs th {
    border-bottom: 2px solid var(--pr-4);
    height: 2rem;
}

.comp1 {
    width: 30%;
    font-size: 1rem;
}

.comp2 {
    width: 70%;
    font-size: 1rem;
}
tr {
    height: 1.5rem;
}
