@charset "UTF-8";

:root {
    font-size: 16px;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;

    /* Colours */
    /* Backgrounds */
    --bg-1: hsl(0, 0%, 15%);
    --bg-2: hsl(0, 0%, 20%);
    --bg-3: hsl(0, 0%, 25%);
    --bg-4: hsl(0, 0%, 30%);

    /* Backgrounds */
    --abg-1: hsl(198, 18%, 20%);
    --abg-2: hsl(198, 18%, 40%);
    --abg-3: hsl(198, 18%, 50%);
    --abg-4: hsl(198, 18%, 60%);

    /* Forground */
    --fg-1: hsl(192, 30%, 95%);
    --fg-2: hsl(192, 20%, 90%);
    --fg-3: hsl(192, 20%, 85%);
    --fg-4: hsl(192, 10%, 80%);

    /* Primary Colours */
    --pr-1: hsl(312, 50%, 30%);
    --pr-2: hsl(312, 40%, 40%);
    --pr-3: hsl(312, 34%, 45%);
    --pr-4: hsl(312, 34%, 55%);

    /* Alt Primary Coloers */
    --apr-1: hsl(309, 40%, 70%);
    --apr-2: hsl(309, 40%, 80%);
    --apr-3: hsl(309, 30%, 80%);
    --apr-4: hsl(309, 20%, 85%);

    /* Secondary Colours */
    --sec-1: hsl(187, 32%, 40%);
    --sec-2: hsl(187, 32%, 45%);
    --sec-3: hsl(187, 32%, 55%);
    --sec-4: hsl(187, 32%, 60%);

    /* Alt Secondary Colours */
    --asec-1: hsl(149, 32%, 40%);
    --asec-2: hsl(148, 32%, 45%);
    --asec-3: hsl(148, 32%, 55%);
    --asec-4: hsl(148, 32%, 60%);

    /* Highlights */
    --high-1: hsl(19, 90%, 70%);
    --high-2: hsl(19, 90%, 60%);
    --high-3: hsl(15, 100%, 87%);
    --high-4: hsl(15, 100%, 77%);
    --high-5: hsl(5, 100%, 81%);
    --high-6: hsl(5, 100%, 71%);
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    color: var(--fg-1);

}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--fg-4);
    border-radius: 25px;
}

html::-webkit-scrollbar-track {
    width: 10px;
    border-radius: 25px;
    background-color: var(--bg-4);
}

html::-webkit-scrollbar-thumb:hover {
    background-color: var(--high-6);
    border-radius: 25px;
}

html::-webkit-scrollbar-track:hover {
    border-radius: 25px;
    background-color: var(--bg-4);
}

section::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    margin: 1rem;
}

section::-webkit-scrollbar-thumb {
    background-color: var(--fg-3);
    border-radius: 25px;
}

section::-webkit-scrollbar-track {
    border-radius: 25px;
    background-color: var(--bg-3);
}

section::-webkit-scrollbar-thumb:hover {
    background-color: var(--high-6);
    border-radius: 25px;
}

section::-webkit-scrollbar-track:hover {
    border-radius: 25px;
    background-color: var(--bg-4);
}

a {
    text-decoration: none;
    color: var(--fg-1);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-2);
}

/* Entire Navbar */
nav {
    width: 100vw;
    height: 8vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--bg-1);
    box-shadow: 0px 1px 10px 0px #000;
    position: relative;
    z-index: 10;
}

/* Navigation Main */
.main-nav-list {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
    list-style-type: none;
}

/*Navigation Main Items */
.main-nav-list li {
    display: inline-block;
    height: 80%;

    display: flex;
    align-content: center;
    justify-content: stretch;
}

/* Navigation Links */
.main-nav-list a {
    width: 10rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-1);
    text-decoration-style: none;
    text-decoration-line: none;
    border-radius: 0.5rem;
}

.main-nav-list a:hover {
    background-color: var(--bg-2);

    color: var(--apr-1);
    font-weight: 600;
    text-decoration-style: solid;
    text-decoration: underline;
}

.currently-visiting {
    background-color: var(--bg-2);

    color: var(--sec-1);
    font-weight: 600;
}

/* Site Logo */
.main-logo {
    width: 25vw;
}

/* User Profile Section */
.userhub {
    width: 23vw;
    margin-right: 2vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.userhub .profile-picture {
    width: 2.8rem;
    height: 2.8rem;

    border: 0.15rem solid var(--sec-4);
    border-radius: 0.5rem;
}

.no-user {
    border: 0px solid #000 !important;
    filter: invert(50%);
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.userhub a[href*="login"] {
    padding: 0.65rem;
    margin-right: 1rem;

    background-color: var(--sec-2);
    border-radius: 0.8rem;

    font-weight: 600;
}

.userhub a[href*="login"]:hover {
    background-color: var(--apr-1);
}

.userhub div {
    max-width: 12rem;
    margin-right: 2rem;
}

/* Main Content */
main {
    width: 75vw;
    margin: 0 auto;
}

/* Footer */
footer {
    height: 6vh;
    margin-top: 1rem;

    background-color: var(--abg-1);
}
